.intro-banner img {
  /* width: 556.01px; */
  width: 100%;
  height: 438px;
}

.banner-radius {
  border-radius: 5px 100px 5px;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  box-shadow: 0px 15px 15px 0px #ff8c00;
}

/* banner background */

.btn-grad-banner {
  background-image: linear-gradient(
    94.3deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
}
.btn-grad-banner {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 20px #eee; */
  display: block;
}

/* .btn-grad-banner:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
} */

/* downlaod discover */

.btn-grad-discover {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad-discover {
  display: inline-block !important;
  font-weight: bolder;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* box-shadow: 0 0 5px #eee; */
  border-radius: 25px;
  display: block;
}

.btn-grad-discover:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.stat-color {
  color: orange;
  font-weight: bolder;
}
