.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  /* padding: 10px; */
}

/* Make it responsive*/
@media only screen and (max-width: 688px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
    padding-left: 8%;
  }
}

@media only screen and (min-width: 689px) and (max-width: 990px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 991px) and (max-width: 1400px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
